html{font-size: 14px;}
.navbar-Div-1{
    /* border: 1px solid; */
    margin-top: 10px;
    /* text-align: end; */
}
.navbar-logo{
    /* border: 1px solid red; */
    padding-right: 50px;
    box-sizing: border-box;
}
#navbar-search-bar{
    border: 1px solid grey;
    border-radius: 20px;
    height: 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding: 0px 10px;
    box-sizing: border-box;
}
#navbar-search-bar>input{
    border: 1px solid transparent;
    outline: none;
    width: 90%;
    height: 30px;
    padding-bottom: 7px;
    font-size: 18px;
    color: gray;
}
#navbar-search-bar>img{
    width: 18px;
}
@media (min-width:0) and (max-width:992px) {
    #navbar-search-bar{
        width: 100%;
    }
}

.navbar-lower-section ul li:first-child{
    border-left: none;
}
.navbar-lower-section ul li{
    border-left: 1px solid red;
    padding:0 15px;
    font-weight: 500;
    list-style: none;
    display: inline-block;
}   
.navbar-lower-section{
    /* text-align: end; */
    cursor: pointer;
    /* text-align: center; */
    
}
.navbar-hover-top-section{
    /* border: 1px solid; */
    background-color: #f5f5f5;
}
.navbar-hover-top-section>ul{
    /* border: 1px solid; */
    margin: 0;
}
.navbar-hover-top-section>ul>li{
    border-left: 1px solid transparent;
    font-weight: 400;
}
.navbar-hover-top-section{
    text-align: left;
}
#navbar-hover-section{
    border: 1px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f5f5f5;
}


.navbar-second-part{
    text-align: center;
    /* border: 1px solid red; */
    padding-left: 18px;
    width: 95%;
    background-color: white;
}
.navbar-second-part>ul{
    /* width: 95%; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.navbar-second-part>ul>li{
    /* border: 1px solid; */
    list-style: none;
    text-align: left;
    font-size: 15px;
    margin-top: 10px;
    /* display: inline-block; */
}
.navbar-second-part img{
    width: 75%;
}
.navbar-second-part>ul>li p{
    width: 75%;
    font-size: 1rem;
    /* border: 1px solid; */
    box-sizing: border-box;
}





@media all and (max-width: 900px) { .navbar-lower-section{font-size: 12px;} .navbar-lower-section ul li{padding:0 2px 0px 6px; }}
@media (min-width:820px) and (max-width:1020px) {.navbar-lower-section{font-size: 14px;} .navbar-lower-section ul li{padding:0 2px 0px 10px; }}