#home-btn > a {
    color: #fe5c74;
    text-decoration: none;
    font-size: 14px;
}
#home-btn {
    background-color: transparent;
    border: transparent;
    margin-left: 20px;
}
#title {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 51px;
    clear: both;
    position: relative;
    color: #212121;
    text-align: center;
    margin: 32px 0;
    font-size: 35px;
    font-family: sans-serif;
}
#title::after {
    content: '';
    height: 2px;
    background-color: #fe5c74;
    position: absolute;
    bottom: 0;
    width: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#front-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1160px;
    margin: auto;
    background-color: #f9f9f9;
}
#second_box {
    line-height: 30px;
    margin: auto;
}
#second_box > h2 {
    width: 350px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 23px;
}
#second_box > h2 > a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#second_box > p {
    text-align: center;
    margin: auto;
    width: 370px;
    font-family: sans-serif;
    font-size: 19px;
   
}
#img > a > img {
    width: 650px;
    cursor: pointer;
}
#second_box > h3 {
position: absolute;
margin-top: 130px;
margin-left: -45px;
font-family: sans-serif;
color: #757575;
font-size: 15px;
}
#second_box > h3 > a {
    text-decoration: none;
    color:#fe5c75;
    font-family: sans-serif;
    font-size: 14px;
}
#second_box > h3 > a:hover {
    text-decoration: underline;
}
#mid-sec {
    display: flex;
    width: 1160px;
    margin: auto;
    gap: 30px;
    margin-top: 45px;
}
#mid-sec > div > a > img {
    width: 365px;
    cursor: pointer;
}
#mid-sec > div > h1 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
#mid-sec > div >h3 > a {
    text-decoration: none;
    color:#fe5c75;
    font-family: sans-serif;
    font-size: 14px;
}
#mid-sec > div > h3 {
    font-family: sans-serif;
color: #757575;
font-size: 15px;
}
#mid-sec > div > h3 > a:hover {
    text-decoration: underline;
}
#mid-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    margin: auto;
    background-color: #f9f9f9;
    margin-top: 30px;
}
#mid-part > div > a > img{
    width: 650px;
    cursor: pointer;
}
#mid-part > div > p {
    text-align: center;
    margin: auto;
    width: 480px;
    font-family: sans-serif;
    font-size: 18px;
}
#mid-part > div > h2 {
    width: 460px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 23px;
}
#mid-part > div > h2 > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#mid-first-div {
    margin: auto;
    line-height: 27px;
}
#mid-part > div > h3 {
    position: absolute;
margin-top: 130px;
font-family: sans-serif;
color: #757575;
font-size: 15px;
}
#mid-part > div > h3 > a {
    text-decoration: none;
    color: #fe5c75;
}
#third-sec > div > a > img {
    width: 365px;
    cursor: pointer;
}
#third-sec {
    display: flex;
    width: 1160px;
    margin: auto;
    gap: 30px;
    margin-top: 45px;
}
#third-sec > div > h1 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
#third-sec > div > h1 > a {
    text-decoration: none;
    color: black;
}
#third-sec > div > h3 > a {
    text-decoration: none;
    color:#fe5c75;
    font-family: sans-serif;
    font-size: 14px;
}
#third-sec > div > h3 {
    font-family: sans-serif;
color: #757575;
font-size: 15px;

}#third-sec > div > h3 > a:hover {
    text-decoration: underline;
}

#forth-sec > div > a > img {
    width: 365px;
    cursor: pointer;
}
#forth-sec {
    display: flex;
    width: 1160px;
    margin: auto;
    gap: 30px;
    margin-top: 45px;
}


#forth-sec > div > h1 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
#forth-sec > div > h1 > a {
    text-decoration: none;
    color: black;
}
#forth-sec > div > h3 > a {
    text-decoration: none;
    color:#fe5c75;
    font-family: sans-serif;
    font-size: 14px;
}
#forth-sec > div > h3 {
    font-family: sans-serif;
color: #757575;
font-size: 15px;
}
#forth-sec > div > h3 > a:hover {
    text-decoration: underline;
}
#page-changer {
    margin: auto;
    width: 300px;
    margin-top: 55px;
    display: flex;
    gap: 13px;
}
#page-changer > button {
    border: none;
    font-size: 20px;
    padding: 5px 10px;
}
#page-changer > button:hover {
    background-color: #47bbd2;
    cursor: pointer;
    color: white;
}
