#front-heading {
    background-image: url(https://www.stylecraze.com/static-content/onlinetools/all_calc_m.png);
    width: 1180px;
    background-size: cover;
    background-position: -150px;
   margin: auto;
    height: 200px;
    overflow: auto;
}
#front-heading > h2 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    font-family: Poppins,sans-serif;
    margin-left: 15px;
    padding-top: 10px;
}
#front-heading > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 500px;
    line-height: 30px;
    font-family: Poppins,Poppins-Hindi,sans-serif;
    margin-left: 15px;
    font-size: 17.8px;
    margin-top: -8px;
}
#container1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    gap: 30px;
    margin: auto;
    margin-top: -50px;
    width: 1150px;
}
#container1 > div {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: white;
    width: 330px;
    cursor: pointer;
    padding: 0px 18px 5px 18px;
}
#container1 > div:hover{
    cursor: pointer;
    background-color: rgb(250, 243, 250);
}
button {
    border: transparent;
    background-color: transparent;
    color: #fe5c75;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
 }
#container1 > div > h2 {
    font-size: 18px;
    color: #333;
    font-weight: 700;
    font-family: Poppins,sans-serif;
    line-height: 25px;
    width: 300px;
}
#container1 > div > p {
    color: #727272;
    font-family:  Poppins,sans-serif;
    font-size: 14.4px;
    line-height: 20px;
    width: 310px;
    margin-top: -7px;
}
@media screen and (min-width: 0px) and (max-width: 765px){
    body{
        margin: 0;
        padding: 0;
    }
    #container1{
      display: flex;
      flex-direction: column;
        gap: 30px;
        margin: auto;
    }
    #container1 > div {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: white;
    width: 1140px;
    cursor: pointer;
    padding: 15px 25px 15px 25px;
}
    #container1 > div > h2 {
        font-size: 26px;
        color: #333;
        font-weight: 700;
        font-family: Poppins,sans-serif;
        line-height: 25px;
        width: 100%;
        word-wrap: normal;
    }
    #container1 > div > p {
        color: #727272;
        font-family:  Poppins,sans-serif;
        font-size: 23px;
        line-height: 35px;
        width: 100%;
        margin-top: -7px;
        margin-bottom: 100px;
    }
    #front-heading {
        background-image: url(https://www.stylecraze.com/static-content/onlinetools/all_calc_m.png);
        background-position: 0px;
        width: 1200px;
       margin: auto;
        height: 500px;
        overflow: auto;
        padding-top: 50px;
       
    }
    #front-heading > h2 {
        font-size: 28px;
        color: #333;
        font-weight: 700;
        font-family: Poppins,sans-serif;
        padding-top: 30px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
   
    #front-heading > p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        line-height: 40px;
        font-family: Poppins,Poppins-Hindi,sans-serif;
        font-size: 24px;
        width: 525px;
        margin-top: -8px;
    }
    button {
        font-weight: bold;
        font-size: 26px;
        cursor: pointer;
     }
}
@media screen and (min-width: 765px) and (max-width: 985px) {
    #front-heading {
        background-image: url(https://www.stylecraze.com/static-content/onlinetools/all_calc_m.png);
        width: 750px;
        background-size: cover;
        background-position: -150px;
       margin: auto;
        height: 200px;
        overflow: auto;
    }
    #front-heading > h2 {
        font-size: 16px;
        color: #333;
        font-weight: 700;
        font-family: Poppins,sans-serif;
        margin-left: 15px;
        padding-top: 10px;
    }
    #front-heading > p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        width: 500px;
        line-height: 30px;
        font-family: Poppins,Poppins-Hindi,sans-serif;
        margin-left: 15px;
        font-size: 13px;
        margin-top: -8px;
    }
    #container1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        gap: 30px;
        margin-top: -50px;
        width: 700px;
    }
    #container1 > div {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        background-color: white;
        width: 170px;
        cursor: pointer;
        padding: 0px 18px 5px 18px;
    }
    #container1 > div:hover{
        cursor: pointer;
        background-color: rgb(250, 243, 250);
    }
    button {
        border: transparent;
        background-color: transparent;
        color: #fe5c75;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
     }
    #container1 > div > h2 {
        font-size: 18px;
        color: #333;
        font-weight: 700;
        font-family: Poppins,sans-serif;
        line-height: 25px;
        width: 170px;
    }
    #container1 > div > p {
        color: #727272;
        font-family:  Poppins,sans-serif;
        font-size: 14.4px;
        line-height: 20px;
        width: 170px;
        margin-top: -7px;
    }
}
