*{
    font-family: 'Poppins', sans-serif;
}
#navbar{
    width: 100%;
    margin: auto;
    position: fixed;
    top:0;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#logo{
    display: flex;
    justify-content: center;
    margin-left: 39%;
    margin-bottom: 15px;
    margin-top: 10px;
}
#logo+div{
    display: flex;
    align-items: center;
}
#bar{
    height: 50px;
    width: 50px;
    color: #fe5c75;
    background: rgb(255, 255, 175);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin-left: 100px;
    cursor: pointer;
    margin-top: -90px;
}
#bar+#categories{
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-size: 18px;
    visibility: hidden;
}
#categories>div{
    border-right: 2px solid #fe5c75;
    box-sizing: border-box;
    padding-right: 10px;
}
#categories>div:hover{
    cursor: pointer;
    color:#fe5c75;
}
#categories>div:last-child{
    border-right: 0;
}
#makeupTitle{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #fe5c75;
    font-size: 34px;
    margin-top: 150px;
}
#buttons{
    width: 70%;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}
#buttons>button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #fe5c75;
    background-color: white;
    color: rgb(84, 83, 83);
    font-size: 14px;
}
#buttons>button:hover{
    color: white;
    background-color: #fe5c75;
    cursor: pointer;
}
#firstArticle{
    display: flex;
    width: 90%;
    margin: auto;
    margin-left: 100px;
    margin-bottom: 50px;
}
#firstArticle>img{
    height: 750px;
    width: 650px;
}
#firstArticle>div{
    box-sizing: border-box;
    padding: 70px;
    padding-left: 80px;
    padding-top: 200px;
    padding-right: 120px;
    /* border: 1px solid red; */
    background-color: #f4f4f4;
}
#firstArticle p{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}
#firstArticle p:first-child{
    font-size: 24px;
}
#firstArticle p:last-child{
    text-align: left;
    margin-top: 150px;
    margin-left: -70px;
    color: grey;
    font-size: 14px;
}
#secondRow{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}
#secondRow img{
    height: 430px;
    width: 90%;
}
.headline{
    text-align: center;
    font-size: 24px;
    padding-right: 50px;
}
.author{
    color:grey;
    font-size: 15px;
}
#secondArticle{
    display: flex;
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
}
#secondArticle>div{
    box-sizing: border-box;
    padding: 40px;
    background-color: #f4f4f4;
}
#secondArticle>img{
    height: 750px;
    width: 650px;
}
#secondArticle p{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}
#secondArticle p:first-child{
    font-size: 24px;
    margin-top: 200px;
}
#secondArticle p:last-child{
    text-align: left;
    margin-top: 200px;
    color: grey;
    font-size: 14px;
    margin-right: 50px;
}
