*{
    margin:0px;
    padding:0px;
}
  
body{
   
   font-family: sans-serif;
}

#navbar{
    width:100%;
background: white;
text-align: center;
position: sticky;
top:0px;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
} 
#line{
    text-align: center;
    padding-bottom: 12px;
    margin-top: 12px;
}
#line hr{
background-color: #fe5c74;
inline-size: 40px;
margin-inline-start: 20px;
margin-bottom: 3px;
height:2px;
margin-right: 35px;
border:none
}
#line hr:nth-child(1){
    height:3px; 
}
#line hr:nth-child(2){
    height:3px; 
}
#line hr:nth-child(3){
    height:3px; 
}
#navbar ul{
/* border:1px solid red; */
width:100%;
gap:5px;
display:inline-flex;
align-items: center;
margin-left: 50px;
list-style:none;
/* color:black; */

}




#navbar ul li a:hover{
    color:#fe5c74
}
span{
    color: #fe5c74;
}

#navbar ul li a{
text-decoration: none;
color:black;
margin-left: 10px;
}
.drop{
display:none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#navbar ul li:hover .drop{
display:block;
/* width:100px; */
position:absolute;
color:#fe5c74;
background:white ;
margin-top:1px;
/* margin-left:-15px; */
}
#navbar ul li:hover .drop ul{
display:block;
margin:10px;
}
#navbar ul li:hover .drop ul li{
width:150px;
padding:10px;
/* border-bottom:1px dotted #fff; */
background: transparent;
border-radius: 0%;

text-align: left;
font-size: 15px;;

}
#navbar ul li:hover .drop ul li:last-child{
border:none;
}
#navbar ul li:hover .drop ul li a:hover{
color:#fe5c74
}